<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <title>后台首页</title>
  <link type="text/css" href="/css/layui.css" rel="stylesheet" media="all" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div th:replace="header::header"></div>
  <div th:replace="menu:: leftMenu"></div>
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">正在紧张的建设中...</div>
  </div>
  <div th:replace="footer:: footer"></div>
</div>
<script src="/js/layui.all.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/menu.js"></script>
<script>

</script>
</body>
</html>