<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>后台首页-用户管理</title>
<link type="text/css" href="/css/layui.css" rel="stylesheet" media="all" />
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div th:replace="header::header"></div>
		<div th:replace="menu:: leftMenu"></div>
		<div class="layui-body">
			<!-- 用户管理 -->
			<p class="layui-elem-quote">
				<a class="layui-btn layui-btn-normal" id="newsDy">用户管理</a>
			</p>
			<table class="layui-table" lay-even="" lay-skin="row" style="margin-left: 5px;">
				<colgroup>
					<col width="150"/>
					<col width="100"/>
					<col width="100"/>
					<col width="200"/>
					<col width="120"/>
					<col width="100"/>
					<col width="200"/>
					<col />
				</colgroup>
				<thead>
					<tr>
				      <th lay-data="{field:'userName'}">用户名</th>
				      <th lay-data="{field:'name'}">姓名</th>
				      <th lay-data="{field:'phone'}">手机</th>
				      <th lay-data="{field:'email'}">邮箱</th>
				      <th lay-data="{field:'isAdmin'}">是否是超管</th>
				      <th lay-data="{field:'status', sort: true}">状态</th>
				      <th lay-data="{field:'joinTime'}">注册时间</th>
				      <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}">操作</th>
				    </tr>
				</thead>
			  	<tbody id="pageTable">
				  	<tr th:each="user:${userList.data}">
				  		<td th:text="${user.userName}"></td>
				  		<td th:text="${user.name}"></td>
				  		<td th:text="${user.phone}"></td>
				  		<td th:text="${user.email}"></td>
				  		<td th:text="${user.isAdmin}==1 ?'是':'否'"></td>
				  		<td th:text="${user.status eq '1'?'可用':'禁用'}"></td>
				  		<td th:text="${#dates.format(user.joinTime,'yyyy-MM-dd hh:mm:ss')}"></td>
				  		<td>
	  						<span th:if="${user.isAdmin} ne 1">
		  						<button class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon">&#xe642;</i> 编辑</button>
		  						<button class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon">&#xe640;</i> 删除</button>
	  						</span>
				  		</td>
				  	</tr>
			  	</tbody>
			</table>
 			<div id="userPage" style="text-align: center;"></div>
		</div>
		<div th:replace="footer:: footer"></div>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/layui.all.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/menu.js"></script>
	<script th:inline="javascript">  
		/*<![CDATA[*/  
		    var count = [[${userList.count}]]; 
		    var limit = 20; //每页显示20条
		/*]]>*/  
	</script> 
	<script>

		$(function() {
			//总页数低于页码总数
			layui.laypage.render({
				elem : 'userPage',
				count : count,
				limit:limit,
				curr: location.hash.replace('#page=', ''),
				hash: 'page', //自定义hash值
				jump: function(obj,first){
			       if(!first){	
			    	  var data={
		    			  'page':obj.curr,
		    			  'pageSize':limit
			    	  };
			       	  ajaxUtil.get(true,data,consoleUserListPath,pageCallback);	
			       }
				}
			});
			function pageCallback(res){
				var html='';
				$.each(res.data,function(i,user){
					html +='<tr>';	
					html +='<td>'+user.userName+'</td>';
					html +='<td>'+user.name+'</td>';
					html +='<td>'+user.phone+'</td>';
					html +='<td>'+user.email+'</td>';
					var isAdmin = user.isAdmin=='1'?'是':'否';
					html +='<td>'+isAdmin+'</td>';
					var status=user.status == '1'?'可用':'禁用';
					html +='<td>'+status+'</td>';
					html +='<td>'+formatDate(user.joinTime)+'</td>';
					html +='<td><button class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon">&#xe642;</i> 编辑</button>';
					html +='<button class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon">&#xe640;</i> 删除</button></td>';
					html +='</tr>';
				});
				$('#pageTable').html(html);
			}
		});
	</script>

</body>
</html>