<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangheng.history.dao.LatestNewDAO">

	<select id="findById" resultType="latestNew">
		select * from latestNew where id =#{id}
	</select>

	
	<insert id="save">
		insert into latestnew(id, content, sort, addtime) values (#{latestNew.id}, #{latestNew.content}, #{latestNew.sort}, now());
	</insert>
	
	<update id="update" parameterType="latestNew">
		update author
		<set>
			<if test="latestNew !=null">
				<if test="latestNew.content !=null and latestNew.content !=">
					content like '%'+#{latestNew.content}+'%'
				</if>
			</if>
		</set>
		where id =#{latestNew.id}
	</update>
	
	<delete id="delete">
		delete from latestNew where id=#{id}
	</delete>
	
	<select id="findList" resultType="latestNew">
		select * from latestNew order by sort
	</select>
	
</mapper>